<div>{{! nav }}
  <header class="masthead">
    <h1 class="masthead-title"><a href="/">{{site-main-title}}</a></h1>
    <p>{{site-sub-title}}</p>
    <nav class="site-nav">
      <ul class="trigger">
        {{#nav-categories}}
        <li><a href="{{category-uri}}">{{category-name}}</a></li>
        {{/nav-categories}}
        <li><a href="/resume.html">Resume</a></li>
        <li><a href="{{github}}">GitHub</a></li>
        <li><a href="https://keybase.io/bobby">Keybase</a></li>
        <li><a href="https://twitter.com/bobbyrburden">Twitter</a></li>
        <li><a href="/rss.xml">RSS</a></li>
      </ul>
    </nav>
    {{#avatar}}
    <img class="avatar" src="{{avatar}}" />
    {{/avatar}}
  </header>
</div>
